@page
@model Google_Login_Dot_Net_7_0.Pages.LoginModel
@Html.AntiForgeryToken()
<a href="" id="googlesignin">
    <img src="../images/google-icon.svg" alt="" />
    <span>Google</span>
</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#googlesignin').on("click", function (e) {
        e.preventDefault();

        $.ajax({
            type: "Post",
            url: "/Login?handler=GoogleLogin",
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            contentType: "application/json",
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },


            success: function (response) {
                console.log(response)
                if (response.statusCode == 200) {


                }
            },
            error: function (xhr, status, err) {
                console.log(xhr, err, status)
                return;
            }
        })


    });
</script>